@import "colours";

:root {
	--solved: #008000;
	--attempted: #F44336;
	--unsolved: #0af;
}

.status {
	@at-root h1 & .bi::before {
		font-size: 30px;
		margin-right: -2px;
		vertical-align: unset;
		translate: 0 2px;
	}
	&[title="Solved"], &[title^="Captured"], &[title="First blood"] {
		color: var(--solved) !important;
	}
	&[title="Attempted"] {
		color: var(--attempted) !important;
	}
	&[title="Unsolved"] {
		color: var(--unsolved) !important;
	}
}

#problem-filter {
	width: max-content;

	label i.bi {
		color: #999;
		font-size: 0.8rem;
		vertical-align: baseline;
	}
}
