@import "colours";

:root {
	--solved: #008000;
	--attempted: #F44336;
	--unsolved: #0af;
}

.status {
	@at-root h1 & .bi::before {
		font-size: 25px;
		margin-right: -4px;
		vertical-align: unset;
	}
	&[title="Solved"], &[title^="Captured"], &[title="First blood"] {
		color: var(--solved) !important;
	}
	&[title="Attempted"] {
		color: var(--attempted) !important;
	}
	&[title="Unsolved"] {
		color: var(--unsolved) !important;
	}
}
