.profile-info {
	li {
		font-size: 1rem;
		line-height: 1.6;
	}
	.bi {
		margin-right: 7px;
	}
	table {
		td {
			vertical-align: top;

			&:first-child {
				white-space: nowrap;
				padding-right: 5px;
			}
		}
	}
}

.reverse-indent {
	$indent: 4rem;
	text-indent: -1 * $indent;
	padding-left: $indent;
}

.btn-edit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 1rem;

	svg.bi {
		height: 0.75rem;
	}
}
